<!-- Navbar Start -->
<section class="navigation upload">
    <div class="nav-container">
        <div class="nav-mobile">
            <a id="nav-toggle" href="#!"><span></span></a>
        </div>
        <div class="page-title text-center">{{ title }}</div>
    </div>
</section>
<!-- Navbar End -->

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="image-block">
                <div class="box">
                    <div class="js--image-preview">
                        <img ng-src="{{ imageSrc }}" class="img-preview" />
                    </div>
                </div>
            </div>
            <div class="pages">
                <div class="loading" ng-if="loading">
                    <i class="fa fa-circle-o-notch fa-spin fa-5x fa-fw"></i>
                </div>
                <element-upload-select ng-if="currentStatus == 'select'"></element-upload-select>
                <element-upload-upload ng-if="currentStatus == 'upload'" on-upload-photo="uploadPhoto()"></element-upload-upload>
                <element-upload-add-info ng-if="currentStatus == 'add_info'" on-upload-dog-info="uploadDogInfo()" dog-info="dogInfo"></element-upload-add-info>
                <element-upload-info-correct ng-if="currentStatus == 'info_correct'" on-upload-dog-info="uploadDogInfo()" on-change-image="changeImage()" dog-info="dogInfo"></element-upload-info-correct>
                <element-upload-success ng-if="currentStatus == 'success'" on-init-photo="initPhoto()"></element-upload-success>
            </div>
        </div>
    </div>
</div>