html {
  background: #eeeeee;

}

body {
  background: #eeeeee;

}

#content-scroller{
  overflow: visible;
}

md-toolbar button.md-button.md-icon-button:first-child {
  margin-left: 0px;
  margin-right: 16px;
}

md-toolbar button.md-button.md-icon-button:first-child md-icon {
  color: white;
}

md-content {
  background: #eeeeee;
  position: relative;
}

.fit {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#summary {
  margin: 32px 72px;
}

.cards-wrap {
  margin: 32px 64px;
  position: relative;
}

.cards-wrap.mobile {
  display: none;
}

.card-group {
  overflow: auto;
}

.card .img {
  width: 100%;
  height: 0;
  padding-top: 75%;
  background-size: cover;
  background-color: #ccc;
}

.card {
  margin-bottom: 10px;
  position: relative;
}

.card .inside {
  padding: 16px;
  word-wrap: break-word;
}

.card .inside h3 {
  margin-top: 0;
  margin-bottom: 8px;
}

.card .inside a {
  color: #E91E63;
  text-decoration: none;
}

.card .inside a:hover {
  text-decoration: underline;
}

.card .inside .description {
  font-size: 14px;
  line-height: 1.3;
  color: #555;
}

.loading-more-indicator {
  text-align: center;
}

.loading-more-indicator md-progress-circular {
  -webkit-transform: scale(1);
  transform: scale(1);
  display: inline-block;
}

.grid {
  border: 1px solid #cccccc;
  list-style: none;
  background: #ffffff;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-transition: all 0.6s ease-out;
  transition: all 0.6s ease-out;
}

.grid-img {
  width: 100%;
  vertical-align: middle;
  -webkit-transition: opacity 0.6s ease-out;
  transition: opacity 0.6s ease-out;
  background-color: #fff;
  opacity: 0;
  visibility: hidden;
}

.grid-img.img-loaded {
  visibility: visible;
  opacity: 1;
}

.img-responsive {
  width: 100%;
}

div.card div.text {text-align: center; position: absolute; width: 100%}
div.card div.text h4 {margin-top: 10px; font-size: 28px; }
div.card div.likes {position: absolute; bottom: 10px; width: 100%; height: 30px}
div.card div.likes a.likes-inner {position: relative; background-color: #b9b9b9; line-height: 30px; display: block; width: 35%; margin: auto; padding: 0 20px; font-size: 20px; color: #000; text-decoration: none;}
div.card div.likes a.likes-inner img.heart {width: 30px; position: absolute; right: 10px;}
div.card .img-responsive { display: none; }

@media (max-width: 768px) {
  #content-scroller {
    width: 100%;
  }
}
@media (max-width: 768px), screen and (orientation: portrait) {
  #content-scroller {
    overflow: auto;
  }
  .cards-wrap {
    margin: 0;
    height: 100vh !important;
  }
  .cards-wrap.mobile {
    display: block;
  }
  .cards-wrap.desktop {
    display: none;
  }
  .card-inner {
    width: 150%;
  }
  div.card {
    width: 31% !important;
    margin-left: 1% !important;
    margin-right: 1% !important;
    margin-top: 1vh !important;
    margin-bottom: 0 !important;
    display: inline-block;
    left: 0 !important;
    top: 0 !important;
  }
  div.card .img-responsive {
    display: block;
    height: 22vh !important;
    min-height: 200px;
  }
  div.card .img {
    display: none;
  }
}